src/main/mule/ci-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f595853d-9efe-4649-ad69-176a4337f39b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="ci-cdFlow" doc:id="9278e924-9608-4210-8489-137f4bbe6cc9" >
		<http:listener doc:name="Listener" doc:id="b2d83757-848d-4365-a190-4448563dd02c" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value="Payload set for cicd" doc:name="Set Payload" doc:id="1f0d2394-d518-40f7-a6f7-06c06f9081b2" />
		<logger level="INFO" doc:name="Logger" doc:id="7720fecf-e3bf-4dac-bd0b-2823ac5614e3" message="#[payload]"/>
	</flow>
</mule>
